@if(Details != null)
{
    <div class="shadow p-2 w-25">
        <table>
            <tr>
                <td>
                    Call Sign
                </td>
                <td>
                    @Details.CallSign
                </td>
            </tr>
            <tr>
                <td>
                    First Name
                </td>
                <td>
                    @Details.FirstName
                </td>
            </tr>
            <tr>
                <td>
                    Last Name
                </td>
                <td>
                    @Details.LastName
                </td>
            </tr>
        </table>
    </div>
}