@using NaeTime.PubSub.Abstractions
<div class="shadow p-2 w-25 list-item">
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                @Details.Name
            </td>
        </tr>
        <tr>
            <td>
                Timers
            </td>
            <td>
                @Details.Timers.Count()
            </td>
        </tr>
    </table>
</div>
@code {
    [Parameter]
    [EditorRequired]
    public Track Details { get; set; } = null!;

}