.grid-parent {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        ". . ."
        ". content ."
        ". . .";
}

.content-center {
    grid-area: content;
    width: 500px;
}

@media screen and (max-width: 500px) {
    .grid-parent {
        grid-template-areas:
            "."
            "content"
            ".";
    }

    .content-center {
        box-shadow: none !important;
        width: 100vw;
    }
}

.list-item {
    width: 300px;
    height: 100px;
}