@page "/hardware/list"
@layout WithReturn

<button @onclick="NavigateToCreateLapRF8Channel" class="btn btn-primary">Create LapRF 8 Channel Timer</button>
<button @onclick="NavigateToCreateSerialEsp32Node" class="btn btn-primary">Create Serial Esp32 Node Timer</button>

<div class="d-flex flow-row flex-wrap">
    @foreach(var timer in _timers)
    {
        <div class="flex-fill card col-sm-5 m-2 hover-shadow" @onclick="() => NavigateToTimerDetails(timer)">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
                <div class="card-title">
                    @timer.Name (@timer.Type)
                    <a class="float-right btn btn-primary btn-sm stretched-link" @onclick="() =>  NavigateToTimerDetails(timer)"><i class="fa-solid fa-pen-to-square"></i></a>
                </div>
            </div>
        </div>
    }
</div>