<div class="shadow p-2 w-25">
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                @Details.Description
            </td>
        </tr>
        <tr>
            <td>
                Start
            </td>
            <td>
                @Details.Start
            </td>
        </tr>
        <tr>
            <td>
                Expected End
            </td>
            <td>
                @Details.ExpectedEnd
            </td>
        </tr>
        <tr>

            <td>
                Track
            </td>
            @{
                var track = Tracks.FirstOrDefault(t => t.Id == Details.TrackId);

                if (track != null)
                {
                    <td>
                        @track.Name
                    </td>
                }
                else
                {
                    <td>
                        No Track Selected
                    </td>
                }
            }
        </tr>
    </table>
</div>
@code {
    [Parameter]
    [EditorRequired]
    public FlyingSession Details { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public IEnumerable<Track> Tracks { get; set; } = Enumerable.Empty<Track>();

}