.open-practice-container {
    display: grid;
    grid-template-areas: "configuration"
        "timelines";
    grid-template-rows: auto 1fr;
    grid-row-gap:5px;
    max-height: 100%;
    height: 100%;
}

.open-practice-lane-configuration {
    grid-area: configuration;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    overflow-x: scroll;
}

.open-practice-lane-configuration-column {
    min-width: 270px;
    max-width: 12%;
}

.open-practice-timelines {
    grid-area: timelines;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    min-height: calc(max(600px,100%));
    min-width: 0;
    overflow-x: scroll;
}

.timeline-container {
}

.timeline-column {
    overflow-y: scroll;
    min-width: 330px;
    max-width: 12%;
}