.open-practice-container {
    display: grid;
    grid-template-areas: "configuration"
        "timelines";
    grid-template-rows: auto 1fr;
    grid-row-gap:5px;
    max-height: 100%;
    height: 100%;
}

.open-practice-lane-configuration{
    grid-area: configuration;
}

.open-practice-timelines {
    grid-area: timelines;
}

.timeline-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 5px;
    min-height: 0;
    min-width: 0;
    overflow-x:scroll;
}

.timeline-column {
    overflow-y: scroll;
    min-width:400px;
}