@using NaeTime.Client.Razor.Lib.Abstractions
@inherits LayoutComponentBase

<EnsureConfigured></EnsureConfigured>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (IsLocalEnabled)
            {
                <ApiStatus ClientProvider="LocalApiClientProvider"><i class="fa-solid fa-wifi"></i></ApiStatus>
            }
            @if (IsOffSiteEnabled)
            {
                <ApiStatus ClientProvider="OffSiteApiClientProvider"><i class="fa-solid fa-satellite-dish"></i></ApiStatus>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

