<div class="d-flex justify-content-between align-items-center bg-primary bg-gradient">
    <div class="align-self-start text-light px-1">
        <h1>Nae Time</h1>
    </div>
    <div class="h5 d-flex flex-row justify-content-center align-items-center">
        <a class="text-light text-decoration-none " href="/pilot/list">
            <i class="fa-solid fa-people-group"></i> Pilots
        </a>
        <a class="text-light text-decoration-none" href="/pilot/create">
            <i class="fas fa-user-plus"></i>
        </a>
        <a class="text-light text-decoration-none" href="/hardware/list">
            <i class="fa-solid fa-microchip"></i> Hardware
        </a>
        <a class="text-light text-decoration-none" href="/track/list">
            <i class="fa-solid fa-flag-checkered"></i> Tracks
        </a>
        <a class="text-light text-decoration-none" href="/configuration">
            <i class="fa-solid fa-gears"></i>Configuration
        </a>
        <a class="text-light text-decoration-none" href="/openpractice">
            <i class="fa-solid fa-dumbbell"></i>Practice
        </a>
    </div>
    <div class="px-1">
        <LocalVolume></LocalVolume>
    </div>
</div>
