<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/?force=true">Nae Time</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">

            @if (IsLocalEnabled)
            {
                <TrackedLink class="nav-link" Path="/pilot/list">
                    <i class="fa-solid fa-people-group"></i> 
                    <div class="mx-2">Pilots</div>
                    <div class="float-end">
                        <TrackedLink Path="/pilot/create" @onclick:stopPropagation="true"><i class=" fas fa-user-plus"></i></TrackedLink>
                    </div>
                </TrackedLink>
                <TrackedLink class="nav-link" Path="/hardware">
                    <i class="fa-solid fa-microchip"></i> <div class="mx-2">Hardware</div>
                </TrackedLink>
            }
            
            @if (IsOffSiteEnabled)
            {
                
            }
        </div>
    </nav>
</div>

@code{

}