@inherits LayoutComponentBase
@layout MainLayout

<div class="content-grid">
    <div class="back-button">
        <a @onclick="NavigationManager.GoBack">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <div class="backed-content">
        @Body
    </div>
</div>


@code{
    [Parameter]
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    [Inject]
    public INavigationManager NavigationManager { get; set; } = null!;
}