@page "/configuration"

<button class="btn btn-secondary mb-3" @onclick="AddNode">Add Node</button>

@if(Dto != null)
{
    @if(Dto.Nodes != null)
    {
        <div class="container">
            @for(int nodeIndex = 0; nodeIndex < Dto.Nodes.Count; nodeIndex++)
            {
                var node = Dto.Nodes[nodeIndex];
                if(nodeIndex > 0)
                {
                    <hr />
                }
                <NaeTime.Client.Components.Node Dto="node"></NaeTime.Client.Components.Node>
            }
        </div>
    
    }
}
else
{
    <h3>Getting configuration</h3>
}



@code{

    [Inject]
    private HttpClient? HttpClient{ get; set; }
    private SystemConfigurationDto? Dto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if(HttpClient != null)
        {
            Dto = await HttpClient.GetFromJsonAsync<SystemConfigurationDto>("configuration");
            if(Dto == null)
            {
                Dto = new SystemConfigurationDto();
            }
        }
        await base.OnInitializedAsync();
    }

    public void AddNode()
    {
        if(Dto == null)
        {
            Dto = new SystemConfigurationDto();
        }

        if(Dto.Nodes == null)
        {
            Dto.Nodes = new List<NodeDto>();
        }

        Dto.Nodes.Add(new NodeDto());

    }
}