@page "/tracks"
<a href="/track" >Add Track</a>

@if(_tracks == null)
{
    <h3>Getting Tracks</h3>
}
else if(_tracks.Count == 0)
{
    <h3>No Tracks Found</h3>
}
else
{
    <table>
        <tr>
            <th>Name</th>
            <th>Gates</th>
            <th></th>
        </tr>

        @foreach(var track in _tracks)
        {
            <tr>
                <td>@track.Name</td>
                <td>@track.Gates?.Count</td>
                <td><a href="@($"/track/{track.Id}")">Edit</a></td>
            </tr>
        }
    </table>
}
@code {

}
