@page "/pilot/list"

<a href="/pilot/create?returnurl=/pilot/list" class="btn btn-primary"><i class=" fas fa-user-plus"></i></a>

@foreach(var pilot in _pilots)
{
    <div @onclick="() => NavigateToPilot(pilot)">
        <NaeTime.Client.Razor.Components.PilotDetails Details="pilot"></NaeTime.Client.Razor.Components.PilotDetails>
    </div>
    
}