
<div class="col-sm g-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="text" @bind-value="Dto.Identifier" />
                    <label>Identifier</label>
                </div>
            </div>
            <div class="col">
                    <div class="form-floating">
                    <input id="addressInput" class="form-control" type="text" @bind-value="Dto.Address" />
                    <label >Address</label>
                </div >
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="number" min="0" @bind-value="Dto.RssiTransmissionDelay" />
                    <label>RSSI Transmission Delay</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control"  type="number" max="255" min="0" @bind-value="Dto.RssiRetryCount" />
                    <label>Rssi Retry Count</label>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <button class="btn btn-secondary" @onclick="AddRX5808">Add RX5808</button>
            </div>
        </div>
        @if(Dto.RX5808Receivers != null)
        {
            @for (int receiverIndex = 0; receiverIndex < _receivers.Count(); receiverIndex++)
            {   
                <div class="row mt-2">
                    <RX5808Receiver OnRemove="toRemove => RemoveRX5808(toRemove)" Dto="_receivers[receiverIndex]"></RX5808Receiver>
                </div>
            }
        }

        <div class="row mt-2">
            <div class="col">
                @if(_error != null)
                {
                    <label class="alert alert-danger">@_error</label>
                }
                <button class="col-md-12 btn btn-primary" @onclick="Save">Save Node</button>
            </div>

        </div>
    </div>
</div>
