@page "/"
@layout NaeTime.Client.Razor.Layouts.BlankLayout
<div class="grid-parent">

    <div class="content-center shadow-lg rounded p-4 form-check form-switch">

        <div class="mb-3">
            <h2>Nae Time</h2>
            <p class="mb-1">The Scottish FPV Timing System</p>
            <hr class="mt-0" />
        </div>

        <div class="mb-3">
            <h5>
                Local Configuration
                <InputCheckbox class="form-check-input float-end" @bind-Value=IsLocalEnabled />
            </h5>

            @if (_localValues.Any())
            {
                <hr class="mt-0" />
                <fieldset disabled="@(!IsLocalEnabled)">
                    @foreach (var propertyTuple in _localValues)
                    {
                        <ApiConfigurationProperty Property="propertyTuple.property" Value="propertyTuple.value" AllFieldsValidationErrors="_localValidationErrors"></ApiConfigurationProperty>

                    }
                </fieldset>
            }
        </div>

        <div>
            <h5>
                Offsite Configuration
                <InputCheckbox class="form-check-input float-end" @bind-Value=IsOffSiteEnabled/>
            </h5>
            @if (_offsiteValues.Any())
            {
                <hr class="mt-0" />
                <fieldset disabled="@(!IsOffSiteEnabled)">
                    @foreach (var propertyTuple in _offsiteValues)
                    {
                        <ApiConfigurationProperty Property="propertyTuple.property" Value="propertyTuple.value" AllFieldsValidationErrors="_offsiteValidationErrors"></ApiConfigurationProperty>
                    }
                </fieldset>
            }
        </div>


        <div class="mt-4 text-center">
            <label>Skip Configuration</label>
            <InputCheckbox @bind-Value="IsSkipConfigurationPageSet" />
        </div>
        @if (!string.IsNullOrWhiteSpace(FormValidationErrors))
        {
            <div class="text-danger text-center">
                @FormValidationErrors
            </div>
        }
        <div class="w-100 text-center mt-1">
            <button type="submit" class="btn btn-primary" @onclick=OnClickConnect>Connect</button>
        </div>

    </div>

</div>
