@using NaeTime.Hardware.Messages.Models
@using NaeTime.PubSub.Abstractions
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor
@using System.Collections.Concurrent
@using Syncfusion.Blazor.Popups
@if(_editContext != null)
{
    <Microsoft.AspNetCore.Components.Forms.EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <div>

            <div>
                <Microsoft.AspNetCore.Components.Forms.InputText @bind-Value="Details.Name" />
                <Microsoft.AspNetCore.Components.Forms.ValidationMessage For="@(() => Details.Name)" />
            </div>
        </div>
        <div class="mt-2">
            <label>Ip Address</label>
            <div>
                <Microsoft.AspNetCore.Components.Forms.InputText @bind-Value="Details.Port" />
                <Microsoft.AspNetCore.Components.Forms.ValidationMessage For="@(() => Details.Port)" />
            </div>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </Microsoft.AspNetCore.Components.Forms.EditForm>
}
