@using Microsoft.JSInterop
@using Syncfusion.Blazor.Inputs
@inject IJSRuntime JSRuntime

<div>
    <div>
        <table>
            <tr>
                <td class="px-1">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </td>
                <td class ="px-1">
                    <NumberInput TValue="int" Min=0 Max=@ushort.MaxValue Step=1000 ValueExpression="()=>_configuredEntryThreshold" Value="@_configuredEntryThreshold" ValueChanged=EntryThresholdValueChanged />
                </td>
                <td>
                    <Button Color="ButtonColor.Primary" @onclick="SetEntryThreshold"><i class="fa-solid fa-check"></i></Button>
                </td>
            </tr>
            <tr>
                <td class="px-1">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </td>
                <td class="px-1">
                    <NumberInput TValue="int" Min=0 Max=@ushort.MaxValue Step=1000 ValueExpression="()=>_configuredExitThreshold" Value="@_configuredExitThreshold" ValueChanged=ExitThresholdValueChanged />
                </td>
                <td>
                    <Button Color="ButtonColor.Primary" @onclick="SetExitThreshold"><i class="fa-solid fa-check"></i></Button>
                </td>
            </tr>
        </table>
    </div>
    <canvas id="@chartId" style="width:100%; height: 200px;"></canvas>
</div>
