<table class="table table-striped">
    <tr>
        <th>
            #
        </th>
        <th>
            Pilot
        </th>
        <th>
            Laps
        </th>
        <th>
            Time
        </th>
    </tr>
    <tbody>
        @foreach (var position in Positions.OrderBy(x => x.Position))
        {

            <tr>
                <td>
                    @position.Position
                </td>
                <td>
                    @position.PilotName
                </td>
                <td>
                    @position.TotalLaps
                </td>
                <td>
                    @($"{TimeSpan.FromMilliseconds(position.TotalMilliseconds):m\\:ss\\:ffff}")
                </td>
            </tr>
        }
    </tbody>
    
    
   
</table>