<table class="table table-striped">
    <tr>
        <th>
            #
        </th>
        @if (IncludePilot)
        {
            <th>
                Pilot
            </th>
        }
        <th>
            Completed
        </th>
        <th>
            Time
        </th>
        <th>

        </th>
    </tr>
    <tbody>

        @foreach (var lap in Laps.OrderByDescending(x=>x.FinishedUtc))
        {
            <tr @onmouseover="() => showRemove = true" @onmouseleave="() => showRemove = false">
                <td>
                    @lap.LapNumber
                </td>
                @if (IncludePilot)
                {
                    <td>
                        @lap.PilotName
                    </td>
                }
                <td>
                    @lap.FinishedUtc
                </td>
                <td>
                    @($"{TimeSpan.FromMilliseconds(lap.TotalMilliseconds):mm\\:ss\\:ffff}")
                </td>
                <td>
                    <Button Size=Size.ExtraSmall Color=ButtonColor.Secondary @onclick="() => Remove(lap.Id,lap.PilotId)"><i class="fa-solid fa-xmark"></i></Button>
                </td>
            </tr>
        }
    </tbody>
</table>